@model List<WebApplication3.Models.Post>
@{
    ViewData["Title"] = "Home Page";
    var lastPage = ViewBag.next_page - 2;
}
<a asp-action="Create" class="btn btn-primary">Create new</a>
@foreach (var post in Model)
{
    <div class="post-preview">
        <a asp-action="Details" asp-route-id="@post.Id">
            <h2 class="post-title">@post.Title</h2>
            <h3 class="post-subtitle">@post.Excerpt</h3>
        </a>
        <p class="post-meta">
            <h4>Category: @post.Category.Name</h4>
            Posted by
            <a href="#!">@post.Owner.Name</a>
            on @post.CreatedAt
            <a asp-action="Edit" asp-route-id="@post.Id"><i class="fas fa-edit"></i></a>
            <a asp-action="Delete" asp-route-id="@post.Id"><i class="fas fa-trash"></i></a>
        </p>
    </div>
    <!-- Divider-->
    <hr class="my-4" />
}

<!-- Pager-->
@if (Model.Count > 0)
{
    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" asp-action="Index" asp-route-page="@ViewBag.next_page">Older Posts →</a></div>
}
else
{
    <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary text-uppercase" asp-action="Index"
           asp-route-page="@lastPage">Newer Posts →</a>
    </div>
}
